################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lab2_var16/.vs/lab2_var16/FileContentIndex
/.vs/AISD_4sem/FileContentIndex
/.vs/AISD_4sem/v17
/lab2_var16/.vs
/lab2_var16/out/build/x64-debug
/.vs
